<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{pageTitle}}</title>
</head>
<body>

    {{> header }}

    <ol>
        <li>Mongo</li>
        <li>Allo</li>
        <li>Mango</li>
    </ol>

    {{> footer }}
</body>
</html>